/**
 * Add styles to the theme
 */

body {
    background: #000000;
}

#top-navigation-bar {
    background: #6296f0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.sf-menu li {
    background-color: #6296f0;
}

#topbar ul li a {
    color: #f3f76d;
}

img.full-logo {
    max-width: 75px;
}

a.button {
    background: #6296f0;
}

.generic-box {
    border-radius: 10px;
}

button#search-submit {
    background: #6296f0;
}

#discoveryBox .profileBox a {
    color: #6296f0;
}

.articles li {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    width: 284px;
}

.articles .thumb {
    width: auto;
}

.articles li h3 a {
    color: #6296f0;
}